{{>header}}
{{>nav}}
<section class="my-5 container">
    <div class="row mb-3 justifiy-content-end">
        <div class="border border-primary border-4 p-4 m-4">
            <h3>Name: Marwa</h3>
            <h3>Age: 36</h3>
            <h3>Email: marwa@techsexperts.com</h3>
        </div>
    </div>
</section>
{{>footer}}