<table class="table table-bordered">
    <thead>
        <th>#</th>
        <th>user id</th>
        <th>id</th>
        <th>title</th>
        <!-- <th>body</th> -->
        <th>Show</th>
    </thead>
    <tbody>
        <tr *ngFor="let task of data; let i = index">
            <td>{{i+1}}</td>
            <td>{{task.userId}}</td>
            <td>{{task.id}}</td>
            <td>{{task.title}}</td>
            <!-- <td>{{task.body}}</td> -->
            <td><button class="btn btn-primary" routerLink="/allTasks/{{i}}">Show</button></td>
        </tr>
    </tbody>
</table>