<!-- <div [ngClass]="{'alert':true,  'alert-danger':!resFlag, 'alert-success':resFlag}" *ngIf="msg!=''">{{msg}}</div>
<form #myForm="ngForm" (ngSubmit)="handleForm(myForm)"> 
    <div class="mb-3">
        <input placeholder="Name" class="form-control" name="name" ngModel 
        required minlength="3" maxlength="20" #name="ngModel">
        <div 
        class="alert alert-danger my-2" 
        *ngIf="name.invalid && (name.dirty || name.touched || myForm.submitted)"
        >
            <li *ngIf="name.errors?.['required']">required</li>
            <li *ngIf="name.errors?.['minlength']">min length is 3</li>
            <li *ngIf="name.errors?.['maxlength']">max length is 20</li>
        </div>
    </div>
    <div class="mb-3">
        <input placeholder="Email" class="form-control" name="email" required email ngModel #email="ngModel">
        <div 
        class="alert alert-danger my-2" 
        *ngIf="email.invalid && (email.dirty || email.touched || myForm.submitted)"
        >
            <li *ngIf="email.errors?.['required']">required</li>
            <li *ngIf="email.errors?.['email']">invalid format</li>
        </div>
    </div>
    <div class="mb-3">
        <input placeholder="Age" class="form-control" name="age" #age="ngModel" ngModel>
        <div>{{age.errors|json}}</div>
    </div>
    <div class="mb-3">
         <button class="btn btn-primary" [disabled]="myForm.invalid">Submit</button>     
        <button class="btn btn-primary">Submit</button>    
    </div>
</form> -->

<!-- <button (click)="add(5)">add to cart</button> -->